.vscode
WorkLog.md
checkpoints/
__pycache__/
results/
saved/
saved_model_data
temp/
predictions/
results/
*.gif
data/*
*.torch
*.csv
*.data
*.bin
Worklog.md
*.ipynb
*.sh
*.txt
*.log
*.pcd
*.png
*.DS_Store
script_train_shogun.py
sequence_matching/*
**.pdf
**.png
**.json



